/* GENERAL */

.pageHeader {
  margin-top: 1rem;
}

/* TAN ROW */

.tabRow a:hover {
  cursor: pointer !important;
}

.tabRow {
  margin-top: 1em;
}

.flightCard {
  width: 20rem;
  margin: 2rem;
}

.tripCard {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.iconCircle {
  height: 1.75rem;
  width: 1.75rem;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  /* border: 2px;
  border-color: green; */
}

.iconDiv {
  margin-left: 0.4rem;
}
